<% provide(:title, 'Home') %>
<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="hero-section-caption pinside40">
                    <h1 class="hero-title">Travel Book unique homes and experience a city like a local.</h1>
                    <form>
                        <input id="name" name="name" type="text" class="form-control"  placeholder="Where are you going?" required>
                        Start Date<input id="name" name="name" type="date" class="form-control col-md-6"  placeholder="Start Date" required>
                        End Date<input id="name" name="name" type="date" class="form-control col-md-6"  placeholder="End Date" required>
                        <button class="btn btn-warning col-md-12">Serach</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h1>Homes</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- service start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <a href="#"><img src="assets/service-img-1.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="service-content">
                        <h3><a href="#" class="title">Listing Name</a></h3>
                        <p>Price - Type - Capacity</p>
                        <p>n views</p>
                    </div>
                </div>
            </div>
            <!-- service close -->
            <!-- service start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <a href="#"><img src="assets/service-img-2.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="service-content">
                        <h3><a href="#" class="title">Listing Name</a></h3>
                        <p>Price - Type - Capacity</p>
                        <p>n views</p>
                    </div>
                </div>
            </div>
            <!-- service close -->
            <!-- service start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <a href="#"><img src="assets/service-img-3.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="service-content">
                        <h3><a href="#" class="title">Listing Name</a></h3>
                        <p>Price - Type - Capacity</p>
                        <p>n views</p>
                    </div>
                </div>
            </div>
            <!-- service close -->
        </div>
    </div>
</div>
<!-- service-section close -->
<!-- Destination-section-start -->
    <div class="bg-default space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h1>Cities</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- destination-one-start -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="destination-img">
                        <a><img src="assets/destination-1.jpg" class="img-responsive"></a>
                    </div>
                    <div class="destination-content">
                        <h3><a href="#" class="destination-title">Oslo</a></h3>
                    </div>
                </div>
                <!-- destination-one-close -->
                <!-- destination-two-start -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="destination-img">
                        <a><img src="assets/destination-2.jpg" class="img-responsive"></a>
                    </div>
                    <div class="destination-content">
                        <h3><a href="#" class="destination-title">Toronto</a></h3>
                    </div>
                </div>
                <!-- destination-two-close -->
                <!-- destination-three-start -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="destination-img">
                        <a><img src="assets/destination-3.jpg" class="img-responsive"></a>
                    </div>
                    <div class="destination-content">
                        <h3><a href="#" class="destination-title">Rotorua</a></h3>
                    </div>
                </div>
                <!-- destination-three-close -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="destination-img">
                        <a><img src="assets/destination-4.jpg" class="img-responsive"></a>
                    </div>
                    <div class="destination-content">
                        <h3><a href="#" class="destination-title">Cebu</a></h3>
                    </div>
                </div>
                <!-- destination-three-close -->
            </div>
        </div>
    </div>
    <!-- Destination-section-close -->
    