<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "Your Listings", properties_path, class:"active" %>
  </li>
  <li class="list-group-item">Your Reservations</li>
  <li class="list-group-item">Your Trips</li>
</ul>