<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "Your Listings", properties_path, class:"active" %>
  </li>
  <li class="list-group-item">
    <%= link_to "Your Reservations", your_reservations_path, class:"active" %>
  </li>
  <li class="list-group-item">
    <%= link_to "Your Trips", your_trips_path, class:"active" %>
  </li>
</ul>