<ul class="list-group">
  <li class="list-group-item active"><%= link_to "Listing", @properties, class:"text-light" %>
  <span class="float-right badge badge-light">done</span></li>
  <li class="list-group-item">Pricing</li>
  <li class="list-group-item">Description</li>
  <li class="list-group-item">Photos</li>
  <li class="list-group-item">Amenities</li>
  <li class="list-group-item">Location</li>
  <button>Publish</button>
</ul>