<ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Listing", listing_property_path, class:"text-success" %>
  <span class="float-right badge badge-success">done</span>
  </li>
  <li class="list-group-item">
  <%= link_to "Pricing", pricing_property_path, class:"text-success" %>
  <% if @properties.price %>
    <span class="float-right badge badge-success">done</span>
  <% end%>
  </li>
  <li class="list-group-item">Description</li>
  <li class="list-group-item">Photos</li>
  <li class="list-group-item">Amenities</li>
  <li class="list-group-item">Location</li>
  <button>Publish</button>
</ul>