<div class="container">
    <div class = "row"> 
        <div class ="col-3 mt-4">
            <%= render 'indexleftbar' %>
        </div>

        <div class = "col-9">
            <div class = "card mt-4">
                <div class = "card-header">
                    Your Listings 
                </div>    
                <div class="card-body">
                    <div class = "container">
                        <div class = "row">
                            <table class="table table-borderless">
                            <% current_user.properties.each do |f| %>
                            <tbody>
                                <tr>
                                    <td><%= image_tag 'service-img-1.jpg', style: 'height:75px;width:110px;', class: "img-thumbnail" %></td>
                                    <td><%= f.title %> </td>
                                    <td><%= link_to 'Update', listing_property_path(f), class: "btn btn-info" %></td>
                                </tr>
                            </tbody>
                            <% end%>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>