<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
  <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="" width="100" height="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" style="width: 217px; height: 39.5px; margin-bottom: 0px;" type="search" placeholder="Anywhere" aria-label="Search">
    </form>
  </div>
    <button class="btn btn btn-outline-success" style="height: 39.5px; margin-top: 4px; font-size:14px; margin-right: 10px;" type="button">Become a Host</button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="font-size:18px">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="font-size:18px">Signup</a>
      </li>
    </ul>
  
</nav>